body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock {
    width: 50vw;
    height: 80vh;
    margin: 50px auto;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
    background-color: bisque; 
    
}

.clock p {
    position: absolute;
    font-size: 80px;
    margin: 10px;
}

p#twelve {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

p#three {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

p#six {
    left: 49%;
    bottom: 0;
    transform: translateX(-50%);
}

p#nine {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

p#second-hand {
    width: 30px;
    height: 30px;
    line-height:4.7;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    top: 47%;
    left: 48%;
    transform: translate(-50%, -50%);
    animation: seconds 60s linear infinite;
}

p#second-hand2 {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    top: 47%;
    left: 48%;
    transform: translateX(-50%, -50%);
    animation: seconds 60s linear infinite;
}

p#second-hand3 {
    width: 30px;
    height: 30px;
    line-height: 2.9;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    top: 47%;
    left: 48%;
    transform: translate(-50%, -50%);
    animation: seconds 60s linear infinite;
}


.clock:hover {
    animation: seconds linear infinite;
    animation-play-state: paused;
}

@keyframes seconds {
    0% {
        transform: rotate(-180deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }
}